*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}

h1,h2,h3{
    color: #fff;
    text-shadow: 1px 2px 3px #808080
}

p{
    font-family: 'Shippori Antique', sans-serif;
    line-height: 30px;
    letter-spacing: 3px;
}

body{
    background-image: url(../image/wing-backgroud.jpg);
    background-repeat: no-repeat;
    background-color:rgba(27,27,27,0.5);
    background-blend-mode: darken;
    background-size: cover;

}

// ヘッダー
header{
    display: flex;
    justify-content: space-between;
    & #title{
        padding: 10px;
       }
       
    & #navigation{
        background-color: #fff;
        padding: 10px;
        & ul {
            height: 100%;
            display: flex;
            align-items: center;
            & li {
                list-style: none;
                margin-right: 10px;
                & a{
                    color: #000;
                    text-decoration: none;
                }
            }
        } 
        
    }
}

// フッター
footer{
    display: flex;
    justify-content: center;
}
